.clickable {
  color: black;
  background-color: white;
  border: 1px dotted black;
  width: 150px;
  height: 150px;
}
.clickable.fastclick-active {
  background-color: green;
  color: red;
}
.clickable.fastclick-touched {
  background-color: red;
  color: green;
}
