<p>Note! Please test on a real mobile, as the FastClick-lib will only attach its functionality on devices that really need the fastclick (e.g. no Chrome with emulated touch events)</p>
<div class="" ng-click="test()">This box's background- and text-color should change on tapping / releasing</div>

<h1>Scrollable area</h1>
<div class="scroller">
  <div class="scrollable-element" ng-click="test()"></div>
  <div class="scrollable-element" ng-click="test()"></div>
  <div class="scrollable-element" ng-click="test()"></div>
  <div class="scrollable-element" ng-click="test()"></div>
  <div class="scrollable-element" ng-click="test()"></div>
  <div class="scrollable-element" ng-click="test()"></div>
  <div class="scrollable-element" ng-click="test()"></div>
</div>

<h1>Nested</h1>
<div class="outer" ng-click="test()">
  <div>This box's background- and text-color should change on tapping / releasing</div>
  <div class="inner" ng-click="innerTest($event)">This box's background- and text-color should change on tapping / releasing</div>
</div>
